<div class="container-fluid">
  <div class="jumbotron">
    <h1>Registro cliente</h1>

    <%= link_to 'Volver atrás', users_path, class: 'btn btn-default' %>

    <%= render 'form', user: @user %>
  </div>
</div>
