<div class="container-fluid">
  <%= render 'slider'%>
  <div class="jumbotron">
    <h1 style="color: #1b3b6d; text-align: center">BIENVENIDOS A CLUB SPORT SOCCER</h1>
    <p style="text-align: center">    
    Nos dedicamos al arriendo de canchas de fútbol, futbolito y multicanchas.
    <br><br>
    Excelente infraestructura y espacios deportivos.
    </p>
  </div>  
  <br><br>
</div>
