<div class="container-fluid">
  <div class="jumbotron">
    <h1>Actualizar registro de cancha</h1>

    <%= link_to 'Ver', @soccerfield, class: 'btn btn-default' %>
    <%= link_to 'Volver atrás', soccerfields_path, class: 'btn btn-default' %>

    <%= render 'form', soccerfield: @soccerfield %>
  </div>
</div>
