<div class="container-fluid">
  <div class="jumbotron">
    <h1>Registro cancha</h1>

    <%= link_to 'Volver atrás', soccerfields_path, class: 'btn btn-default' %>

    <%= render 'form', soccerfield: @soccerfield %>
  </div>
</div>
